/*.o
/dm_client/src/run_CLIcmd.o
/dm_client/src/main.o
/dm_client/src/net_utils.o
/dm_client/src/parsing.o
/dm_client/src/*.o
/dm_client/src/dm_client
/.idea/.gitignore
/.idea/modules.xml
/.idea/openwrt_tfortis_packages.iml
/.idea/vcs.xml
/.idea/editor.xml
/tf_autorestart/files/other/errors
/.idea/misc.xml
/tf_device_monitor/.idea/misc.xml
/tf_device_monitor/.idea/vcs.xml
/tf_device_monitor/.idea/workspace.xml
/tf_clish/files/etc/tf_clish/menu_config_xml/config-poe.xml
/tf_clish/files/etc/tf_clish/menu_config_xml/config-system.xml
/tf_clish/files/etc/tf_clish/menu_config_xml/config_log.xml
/tf_testPcap/src/CMakeLists.txt
/tf_testPcap/src/main.c
